@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;       /*for the logo to move right*/
    padding-right: 30%;      /*for the list to move left*/
    background-color: black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;  /*changed from block to horizontal line*/
    padding: 20px;
    margin: 0 20px; /* Add horizontal margin for spacing between items */
}
.container{
    height: 100vh; /*keeps the photo in the middle*/
    background-image: url('images/bg.jpg');
    background-size: cover; /* This will make the background image cover the entire body */
}
.logo{
    color: white;
    font-size: 25px;
}
span{
    color: rgb(138, 138, 138);
}